
	<div id="banner">
		<div class="container">
			<div class="title">
				<h2>The first Ruby riddle on the net</h2> 
			</div>
			<p>To solve the riddles you will need to use ruby programming skills, some challenges may be resolved with other 
				programming languages and for others you will need ruby to solve them. You will be provided with a ruby interpreter in every step of the challenge, don't hesitate to use it.</p>
			<p>Good luck and have fun while learning Ruby</p>
			<p>"n" visitors have attempted solving the challenge since March 2014.</p>
			<p>There are currently "n" levels.</p>
			<ul class="actions">
				<li><a href="/step/1" class="button">Click here to get challenged</a>	</li>
			</ul>
		</div>
	</div>



