<div class="title">
	<h2>First challenge</h2> 
</div>
<p>Change the url to: 2<sup>35</sup></p>
<p><small>Hint: use the ruby interpreter to get the answer</small></p>
<%= render :partial => 'interpreter' %>